In [1]:
import sqlite3
import pandas as pd

In [33]:
db=sqlite3.Connection('data.db')
db

In [34]:
cursor=db.cursor()
cursor

In [26]:

cursor.execute(
    '''Drop TABLE local;
'''
)

In [27]:

cursor.execute(
    '''CREATE TABLE local (
    name NVARCHAR(225) PRIMARY KEY,
    lat FLOAT NOT NULL,
    lon FLOAT NOT NULL
);
'''
)

In [14]:
db.commit()

In [13]:
item=pd.read_json('item.json')
item

,이름,설명,img
0,자격루,"자격루는 고려 시대에 사용된 자동 시계탑으로, 물을 동력으로 사용하여 시간을 알렸습...",img/Clepsydra.jpg
1,측우기,"측우기는 조선 세종대왕 때 발명된 비를 측정하는 기구로, 과학적 방법으로 강수량을 ...",img/RainGaugePedestal.jpg
2,거중기,"거중기는 조선 시대에 성곽이나 궁궐의 건설에 사용된 크레인과 같은 기계로, 큰 돌이...",img/Geojunggi.jpg
3,엽전,"엽전은 조선 시대에 사용된 주화로, 주로 동전 형태의 화폐였으며 경제 거래에 사용되...",img/Yeopjeon.jpg

array(['자격루', '측우기', '거중기', '엽전'], dtype=object)

In [28]:
import math
for i,v in enumerate(item['이름'].unique()):
    option=1
    if i%2==1:
        option*=-1
    print(math.ceil((i+1)/2)*option)
    cursor.execute(
        'INSERT INTO local (name, lat, lon) VALUES (?, ?, ?)',
        (v,38.516049+i,128.300573+i)
    )

1
-1
2
-2

In [35]:
cursor.execute("create table visit(name NVARCHAR(225) PRIMARY KEY)")

In [36]:
for i in item.values:
    cursor.execute(
        'INSERT INTO item (name,description , img) VALUES (?, ?, ?)',
        (i[0], i[1], i[2])
    )

IntegrityError: UNIQUE constraint failed: item.name

In [38]:
cursor.execute("insert  INTO visit (name) VALUES (?)",("안녕",))

In [40]:
cursor.execute("delete  from visit ")

In [41]:
db.commit()

In [29]:
db.commit()

In [30]:
db.close()

In [13]:
db.close()
db